{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Título de la imagen</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quod reprehenderit, magnam quia pariatur aliquam quae possimus sed doloremque voluptates, sint expedita animi eligendi corrupti alias fuga illo consequuntur ipsam!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/code.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}